<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
	<?include Vars.wxi ?>
	<Product Id="*" UpgradeCode="22121B7D-B16B-4566-B50D-BCBB8DE18913"
            Name="$(var.ProductName)" Version="$(var.ProductVersion)" Manufacturer="$(var.ManufacturerName)" Language="1033">
		<Package InstallerVersion="200" Compressed="yes" Comments="Windows Installer for $(var.ProductName)"/>

		<MajorUpgrade DowngradeErrorMessage="A newer version of $(var.ProductName) is already installed."/>
		<Media Id="1" Cabinet="product.cab" EmbedCab="yes"/>

		<Feature Id="DefaultFeature" Level="1">
			<ComponentGroupRef Id="ApplicationFiles"/>
			<ComponentRef Id="ApplicationShortcuts"/>
		</Feature>

		<Property Id="INSTALLDIR">
			<RegistrySearch Id="RegistrySearch" Win64="yes" Type="raw" Root="HKCU" Key="SOFTWARE\$(var.ManufacturerName)\$(var.FolderName)" Name="InstallLocation" />
		</Property>
		
		<?include UI.wxi ?>
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

		
		<Icon Id="valorant.ico" SourceFile="..\..\discord-presence\valorant.ico" />
		<Property Id="ARPPRODUCTICON" Value="valorant.ico" />
		<Property Id="ARPHELPLINK" Value="https://github.com/jloh02/valorant-discord-presence/releases" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLDIR" Name="$(var.ProductName)"/>
			</Directory>
			<!--Start menu entry-->
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ProgramMenuSubfolder" Name="$(var.FolderName)"/>
			</Directory>
		</Directory>

		<ComponentGroup Id="ApplicationFiles" Directory="INSTALLDIR">
			<?include components\RegistryEntries.wxi ?>
			<?include components\AppComponent.wxi ?>
			<?include components\LibCryptoComponent.wxi ?>
			<?include components\LibSslComponent.wxi ?>
		</ComponentGroup>
	
		<?include components\StartMenuComponent.wxi ?>
	</Product>
</Wix>
